.elements {
    margin: 40px 0;
}

.elements div:first-child {
    margin-left: 7.4%;
}

.btn {
    padding: 12px;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
}

.increment {
    background: linear-gradient(90deg, green, rgb(208, 209, 168));
}

.decrement {
    background: linear-gradient(90deg , rgb(208, 209, 168), #f83f37);
}

.decrement:hover {
    background: linear-gradient(90deg , rgb(96, 97, 71), #972521);
}

.increment:hover {
    background: linear-gradient(90deg , rgb(0, 128, 0), rgb(96, 97, 71));
}

.increment:active {
    background: linear-gradient(90deg , rgb(0, 34, 0), rgb(96, 97, 71));
}

.decrement:active {
    background: linear-gradient(90deg , rgb(96, 97, 71), #531512);
}