.elements {
    margin: 40px 0;
}

.section-flex {
    display: flex;
    gap: 50px;
}

.articles {
    height: 100vh;
    width: 100%;
}

.label {
    margin-bottom: 10px;
}

.form-group {
    margin-bottom: 10px;
}

.table {
    width: 100%;
    margin-top: 28px;
    border-collapse: collapse;
}

td {
    border: 1px solid rgb(167, 163, 163);
    text-align: center;
    padding: 8px;
}
th {
    border: 1px solid rgb(167, 163, 163);
    padding: 10px;
}

.badge {
    background-color: rgb(182, 180, 180);
    padding: 5px 10px;
    border-radius: 50%;
}