.menu-container {
    background-color: red;
    padding: 5px 0;
}

.name-app {
    margin-right: 70px;
    cursor: pointer;
}

.menu {
    display: flex;
    gap: 30px;
    margin-left: 0;
    padding-left: 10px;
}

.menu > li {
    font-size: 20px;
    list-style: none;
    font-weight: bold;
}

.link {
    text-decoration: none;
    color: white;
    padding: 30%;
    padding-left: 0;
}

.link:hover {
    color: aqua
}